lava/backup
lava/defaultCONFIG
nuplot/
omuks/
ttptoolkit/
nkscape/
deconnect/
oreader/
ritadisplayrc
ritarc
inichrome/
irage/
heko/
bsidian/
penra/
dfcpu/
sysh/
acket/
clone/
izin/
um/
auklauerc
ielo/
unshine/
yncthing/
ystemd/
elebit/
.mono/
.org.chromium.Chromium.TCUha3
Element/
Feldrise/
Google/
Heimer/
Mechvibes/
Moonlight Game Streaming Project/
QuiteRss/
Raspberry Pi/
Valve Corporation/
betterlockscreenrc
bonsai-browser/
cef_user_data/
darktile/
eww/
gashell/
Bitwarden CLI/
CuteCom/
Min/
Min2/
OhHai Browser/
OpenRGB/
QtProject.conf
Stack/
Thunar/
VirtualBox/
Zeal/
apprepo/
autostart/
bpytop/
browser/
cinnamon-monitors.xml
ckb-next/
configstore/
dconf/
flameshot/
freerdp/
google-chrome/
gtk-2.0/
gtk-3.0/bookmarks
gtk-3.0/settings.ini
htop/
iptvnator/
jd-gui.cfg
leafpad/
lutris/
marktext/
menus/
microsoft-edge-dev/
mimeapps.list
ncmpcpp/
nemo/
neofetch/
nvim/env/
nvim/plugged/
obs-studio/
pavucontrol.ini
plank/
plex.tv/
pulse/
qBittorrent/
shuttle/
sonic-visualiser/
user-dirs.dirs
user-dirs.locale
viewnior/
xfce4/
glava/backup
glava/defaultCONFIG
gnuplot/
gomuks/
httptoolkit/
inkscape/
kdeconnect/
koreader/
kritadisplayrc
kritarc
minichrome/
mirage/
nheko/
obsidian/
openra/
pdfcpu/
psysh/
racket/
rclone/
rizin/
rum/
sauklauerc
sielo/
sunshine/
syncthing/
systemd/
telebit/
termite/backup
weechat.tgz
weechat/
wesnoth/
wine-launcher/
yuzu/


