
acket/
acreom/
apk-editor-studio/recent/thumbnails/apk/f59f587153f3b78710f614115c7b6ce8.png
apprepo/
auklauerc
autokey/
autostart/
backup/
balena-etcher/
Beeper/
betterlockscreenrc
Bitwarden CLI/
bonsai-browser/
bpytop/
browser/
bsidian/
cef_user_data/
chromium/
cinnamon-monitors.xml
ckb-next/
clone/
com.github.tkashkin.gamehub/
configstore/
CoolTerm/
CuteCom/
darktile/
dconf/
deconnect/
dfcpu/
elebit/
Electron/
Element/
eww/
faugus-launcher/
Feldrise/
felida/
flameshot/
Franz/
freerdp/
game-rs/
gashell/
glava/backup
glava/defaultCONFIG
gnuplot/
go/
gomuks/
Google/
google-chrome/
gtk-2.0/
gtk-3.0/bookmarks
gtk-3.0/settings.ini
hakuneko-desktop/
Heimer/
heko/
helix/
heroic/
htop/
httptoolkit/
hydra/
hydralauncher/
ielo/
inichrome/
inkscape/
iptvnator/
irage/
izin/
jd-gui.cfg
Joplin/
joplin-desktop/
kdeconnect/
KeePass/
Kingsoft/
klavaro/
KOHighlights/
koreader/
kritadisplayrc
kritarc
lava/backup
lava/defaultCONFIG
leafpad/
Logseq/
ludusavi/
lutris/
marktext/
Mechvibes/
menus/
mgba/
microsoft-edge-dev/
mimeapps.list
Min/
Min2/
minichrome/
mirage/
.mono/
Moonlight Game Streaming Project/
ncmpcpp/
ncv/
nemo/
neofetch/
neonvim/
nheko/
nkscape/
nuplot/
nvim/env/
nvim/plugged/
nvim/raw_backup_old_nvim
obsidian/
obs-studio/
OhHai Browser/
omuks/
openra/
OpenRGB/
oreader/
.org.chromium.Chromium.TCUha3
pamac/
pavucontrol.ini
PBE/
pdfcpu/
peazip/
penra/
pewpew/
plank/
plex.tv/
PortProton.conf
psysh/
pulse/
pupgui/
qBittorrent/
QtProject.conf
QuiteRss/
racket/
Raspberry Pi/
rclone/
ritadisplayrc
ritarc
rizin/
rmapi/
rncbc.org/
rum/
sauklauerc
shuttle/
sielo/
sonic-visualiser/
Stack/
sunshine/
syncthing/
sysh/
systemd/
telebit/
termite/backup
termite/darkness
Thunar/
Trolltech.conf
ttptoolkit/
uad/
um/
unshine/
user-dirs.dirs
user-dirs.locale
Valve Corporation/
viewnior/
virtscreen/
VirtualBox/
weechat/
weechat.tgz
wesnoth/
WhatsApp Desktop/
whoozle.github.io/
winegui/
wine-launcher/
wireshark/
xfce4/
yncthing/
ystemd/
yuzu/
Zeal/
Z-Library/
