Bitwarden CLI/
CuteCom/
Min/
Min2/
OhHai Browser/
OpenRGB/
QtProject.conf
Stack/
Thunar/
VirtualBox/
Zeal/
apprepo/
autostart/
bpytop/
browser/
cinnamon-monitors.xml
ckb-next/
configstore/
dconf/
flameshot/
freerdp/
google-chrome/
gtk-2.0/
gtk-3.0/bookmarks
gtk-3.0/settings.ini
htop/
iptvnator/
jd-gui.cfg
leafpad/
lutris/
marktext/
menus/
microsoft-edge-dev/
mimeapps.list
ncmpcpp/
nemo/
neofetch/
nvim/env/
nvim/plugged/
obs-studio/
pavucontrol.ini
plank/
plex.tv/
pulse/
qBittorrent/
shuttle/
sonic-visualiser/
user-dirs.dirs
user-dirs.locale
viewnior/
xfce4/
